

table {
  width: 100%;
  
}

th {
  font-weight:bold;
  color: white;
  background-color:gainsboro;
  font-size: 100%;
}

.mat-elevation-z8 {
 
  text-align: left
}

.btnAdd {
  background-color: skyblue;
}



 




